<div>
<mat-card class="inline-block" (click)="employeesClick()">
  <mat-card-header>
    <mat-card-title>Employees</mat-card-title>
  </mat-card-header>
  <img mat-card-image  width="150" src="./assets/images/employees.jpg" alt="Photo of employees">
</mat-card>
<mat-card class="inline-block" (click)="projectsClick()">
  <mat-card-header>
    <mat-card-title>Projects</mat-card-title>
  </mat-card-header>
  <img mat-card-image  width="150" src="./assets/images/projects.png" alt="Photo of projects">
</mat-card>
</div>
