.inline-block {
  display: inline-block;
  width: 30%;
  margin-bottom: 5em;
  margin-right: 5em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  width: 100vw;
}
